<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


    <% if @user.lists.any? %>

      <h3>Lists (<%= @user.lists.count %>)</h3>
      
      <ol class="lists">
        <% @lists.each_with_index do |list, index| %>
        	<h3><%= list.name %></h3>

        		<% list.words.each do |word| %>
        		<ul>
        			<li><%= word.word %></li>
        		</ul>
        		<% end %>
        <% end %>
      </ol>

    <% else %>
    	<h3>No lists</h3>
    <% end %>
